.item {
  margin: 5px;
  padding: 5px 20px;
}

.btn {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn + .btn {
  margin-left: 15px;
}
.btn:hover {
  background-color: rgb(208, 209, 209);
}
